{% extends "templates/base.html" %}
{% block body %}
<div class="span9">
  <div class="hero-unit">
    <h1>Certify Your App Engine apps!</h1>
  </div>
  <div class="row-fluid">
Hello, Charlie Kelly here, local business owner and cat enthusiast. Is your cat making too much noise all the time? Is your cat constantly stomping around driving you crazy? Is your cat clawing at your furnitures? Think there’s no answer? You’re so stupid! There is! Kitten Mittons. Finally, there is an elegant, comfortable mitten for cats…. I couldn’t hear anything! Is your cat one-legged? Is your cat fat, skinny, or an in-between? That doesn’t matter! Cause one size fits all! Kitten Mittons! You’ll be smitten! So come on down to Paddy’s Pub. We’re the hoooooooommee of the original Kitten Mittons. Meeeeeeeeeeowwwww!
  </div>
  <br />
  <div class="row-fluid">
    <p><a class="btn btn-primary btn-large" href="/certify">Certify Your App &raquo;</a></p>
  </div>
</div><!--/span-->
{% endblock %}



